In [1]:
%%capture
!pip install dlt[duckdb]

In [2]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)

i = 0
sum_generator = 0
for sqrt_value in generator:
    sum_generator += sqrt_value
    i += 1
    print(f'{i}th number: {sqrt_value}')

print(sum_generator)

1th number: 1.0
2th number: 1.4142135623730951
3th number: 1.7320508075688772
4th number: 2.0
5th number: 2.23606797749979
6th number: 2.449489742783178
7th number: 2.6457513110645907
8th number: 2.8284271247461903
9th number: 3.0
10th number: 3.1622776601683795
11th number: 3.3166247903554
12th number: 3.4641016151377544
13th number: 3.605551275463989
32.854555867161245

In [3]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [4]:
import dlt
import duckdb

In [5]:
pipeline_hw = dlt.pipeline(destination = 'duckdb', dataset_name='homework')

In [6]:
info = pipeline_hw.run(people_1(), table_name='people',write_disposition='replace')
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.52 seconds
1 load package(s) were loaded to destination duckdb and into dataset homework
The duckdb destination used duckdb:////workspaces/Datatalks2024/Workshop1/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707513863.6362877 is LOADED and contains no failed jobs

In [7]:
info = pipeline_hw.run(people_2(),table_name='people',write_disposition='append')
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.41 seconds
1 load package(s) were loaded to destination duckdb and into dataset homework
The duckdb destination used duckdb:////workspaces/Datatalks2024/Workshop1/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707513878.7535768 is LOADED and contains no failed jobs

In [8]:
conn = duckdb.connect(f"{pipeline_hw.pipeline_name}.duckdb")

conn.sql(f"SET search_path = '{pipeline_hw.dataset_name}'")

print('Loaded tables: ')
display(conn.sql("show tables"))

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
└─────────────────────┘

In [9]:
people = conn.sql("select sum(Age) from people").df()
display(people)

   sum(Age)
0     353.0

In [10]:
info = pipeline_hw.run(people_1(), table_name='people',write_disposition='replace',primary_key="ID")
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.26 seconds
1 load package(s) were loaded to destination duckdb and into dataset homework
The duckdb destination used duckdb:////workspaces/Datatalks2024/Workshop1/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707513914.2280374 is LOADED and contains no failed jobs

In [11]:
info = pipeline_hw.run(people_2(),table_name='people',write_disposition='merge',primary_key="ID")
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.46 seconds
1 load package(s) were loaded to destination duckdb and into dataset homework
The duckdb destination used duckdb:////workspaces/Datatalks2024/Workshop1/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707513926.1114733 is LOADED and contains no failed jobs

In [12]:
people_info = conn.sql("select * from people").df()
display(people_info)

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707513914.2280374  OJgtMzVWiotDKQ       None
1   2  Person_2   27  City_A  1707513914.2280374  1/p0rBOTprn9CQ       None
2   8  Person_8   38  City_B  1707513926.1114733  zM/SHS8BfO5TVg      Job_8
3   3  Person_3   33  City_B  1707513926.1114733  Gl/um+aFyJXBBA      Job_3
4   6  Person_6   36  City_B  1707513926.1114733  rq7WP4sRxbXpWw      Job_6
5   5  Person_5   35  City_B  1707513926.1114733  tQqrwkxUVIW5FA      Job_5
6   7  Person_7   37  City_B  1707513926.1114733  JLMtFqBpaDAqfA      Job_7
7   4  Person_4   34  City_B  1707513926.1114733  yn+BpO5cUl9ApQ      Job_4

In [13]:
sum_age = conn.sql("select sum(Age) from people").df()
display(sum_age)

   sum(Age)
0     266.0